:root {
  --cellHeight: 20px;
  --background: #f1f3fa;
  --appBackground: #ffffff;
  --chartBackground: rgba(0, 0, 0, 0.01);
  --accent: #efefef;
  --padding: 8px;
  --scrollBarWidth: 10px;
  --borderRadius: 8px;
  --textColor: #222;
  --darken: rgba(0, 0, 0, 0.05);
  --darken2: rgba(0, 0, 0, 0.1);
  --darken3: rgba(0, 0, 0, 0.15);
  --darken4: rgba(0, 0, 0, 0.2);
  --green: #8bc34a;
  --greenHover: #7cb342;
  --red: #f44336;
  --redHover: #e53935;
}

* {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Mono", monospace;
  font-size: 12px;
  box-sizing: border-box;
  color: var(--textColor);
}

html,
body {
  background-color: var(--background);
}

input,
select,
button {
  outline: 0;
  padding: 8px 12px;
  border-radius: var(--borderRadius);
  background-color: var(--darken);
  border: 1px solid var(--accent);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

button {
  border: 0;
  cursor: pointer;
}

label {
  margin-bottom: 8px;
  display: block;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.8rem;
}
